project/n8n-workflows/04-low-stock-alert.json
{
  "name": "Low Stock Alert",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "product-updated",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Product Updated Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "stock-low",
              "leftValue": "={{ $json.record.stock_quantity }}",
              "rightValue": 5,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-stock",
      "name": "Stock < 5?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"Apinlero Alerts <alerts@apinlero.co.uk>\",\n  \"to\": [\"owner@ishastreat.com\"],\n  \"subject\": \"⚠️ Low Stock Alert: {{ $json.record.name }} ({{ $json.record.stock_quantity }} left)\",\n  \"html\": \"<!DOCTYPE html><html><head><style>body{font-family:Arial,sans-serif;background:#f9fafb;margin:0;padding:20px}.container{max-width:600px;margin:0 auto;background:white;border-radius:12px;overflow:hidden;box-shadow:0 4px 6px rgba(0,0,0,0.1)}.header{background:linear-gradient(135deg,#f59e0b,#fbbf24);color:white;padding:30px;text-align:center}.header h1{margin:0;font-size:24px}.alert-icon{font-size:48px;margin-bottom:10px}.content{padding:30px}.alert-box{background:#fffbeb;border:2px solid #f59e0b;border-radius:8px;padding:20px;margin:15px 0}.product-name{font-size:20px;font-weight:bold;color:#92400e;margin-bottom:10px}.stock-count{font-size:36px;font-weight:bold;color:#dc2626;text-align:center;padding:20px;background:#fef2f2;border-radius:8px;margin:15px 0}.detail-row{display:flex;justify-content:space-between;padding:8px 0;border-bottom:1px solid #e5e7eb}.detail-row:last-child{border-bottom:none}.detail-label{color:#6b7280;font-size:14px}.detail-value{color:#111827;font-weight:600}.btn{display:inline-block;background:#f59e0b;color:white;padding:14px 28px;text-decoration:none;border-radius:8px;font-weight:600;margin-top:20px}.footer{background:#1e3a5f;color:white;padding:20px;text-align:center;font-size:12px}.footer p{margin:5px 0}</style></head><body><div class='container'><div class='header'><div class='alert-icon'>⚠️</div><h1>Low Stock Alert!</h1></div><div class='content'><div class='alert-box'><div class='product-name'>{{ $json.record.name }}</div><div class='stock-count'>{{ $json.record.stock_quantity }} units left</div><div class='detail-row'><span class='detail-label'>Category</span><span class='detail-value'>{{ $json.record.category || 'Uncategorized' }}</span></div><div class='detail-row'><span class='detail-label'>Price</span><span class='detail-value'>£{{ Number($json.record.price).toFixed(2) }}</span></div><div class='detail-row'><span class='detail-label'>SKU</span><span class='detail-value'>{{ $json.record.sku || 'N/A' }}</span></div></div><p style='color:#374151;'>Please restock this item soon to avoid running out.</p><a href='https://apinlero.vercel.app/dashboard' class='btn'>Manage Inventory</a></div><div class='footer'><p>Àpínlẹ̀rọ Inventory Alerts</p><p>This is an automated notification</p></div></div></body></html>\"\n}",
        "options": {}
      },
      "id": "send-low-stock-alert",
      "name": "Send Low Stock Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 280],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_RESEND_CREDENTIAL_ID",
          "name": "Resend API Key"
        }
      }
    },
    {
      "parameters": {},
      "id": "no-op",
      "name": "Stock OK - Skip",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [700, 420]
    }
  ],
  "connections": {
    "Product Updated Webhook": {
      "main": [
        [
          {
            "node": "Stock < 5?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stock < 5?": {
      "main": [
        [
          {
            "node": "Send Low Stock Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stock OK - Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["apinlero", "email", "alerts", "inventory"]
}
