project/n8n-workflows/06-manual-triggers.json
{
  "name": "Manual Email Triggers",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "manual-email",
        "options": {}
      },
      "id": "manual-email-webhook",
      "name": "Manual Email Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "manual-stock-alert",
        "options": {}
      },
      "id": "manual-stock-webhook",
      "name": "Manual Stock Alert Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 500]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "manual-expiry-alert",
        "options": {}
      },
      "id": "manual-expiry-webhook",
      "name": "Manual Expiry Alert Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 700]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/orders?id=eq.{{ $json.orderId }}&select=*",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-order",
      "name": "Fetch Order Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Manual Email Webhook').item.json.type }}",
                    "rightValue": "confirmation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "confirmation"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Manual Email Webhook').item.json.type }}",
                    "rightValue": "status",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "status"
            }
          ]
        },
        "options": {}
      },
      "id": "switch-email-type",
      "name": "Email Type?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [720, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"Isha's Treat <orders@apinlero.co.uk>\",\n  \"to\": [\"{{ $json[0].email }}\"],\n  \"subject\": \"Order Confirmation #{{ $json[0].id.substring(0, 8).toUpperCase() }}\",\n  \"html\": \"<!DOCTYPE html><html><head><style>body{font-family:Arial,sans-serif;background:#f9fafb;margin:0;padding:20px}.container{max-width:600px;margin:0 auto;background:white;border-radius:12px;overflow:hidden;box-shadow:0 4px 6px rgba(0,0,0,0.1)}.header{background:linear-gradient(135deg,#0d9488,#14b8a6);color:white;padding:30px;text-align:center}.header h1{margin:0;font-size:24px}.content{padding:30px}.content p{color:#374151;line-height:1.6;margin:0 0 15px}.detail-box{background:#f3f4f6;border-radius:8px;padding:20px;margin:20px 0}.detail-row{display:flex;justify-content:space-between;padding:8px 0;border-bottom:1px solid #e5e7eb}.detail-row:last-child{border-bottom:none}.detail-label{color:#6b7280;font-size:14px}.detail-value{color:#111827;font-weight:600}.total-row{background:#0d9488;color:white;padding:15px;border-radius:8px;margin-top:15px;display:flex;justify-content:space-between;font-size:18px}.btn{display:inline-block;background:#0d9488;color:white;padding:14px 28px;text-decoration:none;border-radius:8px;font-weight:600;margin-top:20px}.footer{background:#1e3a5f;color:white;padding:20px;text-align:center;font-size:12px}.footer p{margin:5px 0}</style></head><body><div class='container'><div class='header'><h1>✓ Order Confirmed!</h1></div><div class='content'><p>Hi <strong>{{ $json[0].customer_name }}</strong>,</p><p>Thank you for your order! We've received it and will start preparing it shortly.</p><div class='detail-box'><div class='detail-row'><span class='detail-label'>Order ID</span><span class='detail-value'>#{{ $json[0].id.substring(0, 8).toUpperCase() }}</span></div><div class='detail-row'><span class='detail-label'>Date</span><span class='detail-value'>{{ new Date().toLocaleDateString('en-GB', {day: 'numeric', month: 'long', year: 'numeric'}) }}</span></div><div class='detail-row'><span class='detail-label'>Delivery Address</span><span class='detail-value'>{{ $json[0].delivery_address || 'Collection' }}</span></div><div class='total-row'><span>Total</span><span>£{{ Number($json[0].total).toFixed(2) }}</span></div></div><a href='https://apinlero.vercel.app/track/{{ $json[0].id }}' class='btn'>Track Your Order</a></div><div class='footer'><p><strong>Isha's Treat & Groceries</strong></p><p>Powered by Àpínlẹ̀rọ</p></div></div></body></html>\"\n}",
        "options": {}
      },
      "id": "send-confirmation",
      "name": "Send Confirmation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 220],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_RESEND_CREDENTIAL_ID",
          "name": "Resend API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"Isha's Treat <orders@apinlero.co.uk>\",\n  \"to\": [\"{{ $json[0].email }}\"],\n  \"subject\": \"Order Update: {{ $json[0].status.charAt(0).toUpperCase() + $json[0].status.slice(1).replace('_', ' ') }} #{{ $json[0].id.substring(0, 8).toUpperCase() }}\",\n  \"html\": \"<!DOCTYPE html><html><head><style>body{font-family:Arial,sans-serif;background:#f9fafb;margin:0;padding:20px}.container{max-width:600px;margin:0 auto;background:white;border-radius:12px;overflow:hidden;box-shadow:0 4px 6px rgba(0,0,0,0.1)}.header{background:linear-gradient(135deg,#3b82f6,#60a5fa);color:white;padding:30px;text-align:center}.header h1{margin:0;font-size:24px}.content{padding:30px}.status-badge{display:inline-block;background:#3b82f6;color:white;padding:8px 16px;border-radius:20px;font-weight:600;margin:15px 0}.btn{display:inline-block;background:#3b82f6;color:white;padding:14px 28px;text-decoration:none;border-radius:8px;font-weight:600;margin-top:20px}.footer{background:#1e3a5f;color:white;padding:20px;text-align:center;font-size:12px}</style></head><body><div class='container'><div class='header'><h1>Order Update</h1></div><div class='content'><p>Hi <strong>{{ $json[0].customer_name }}</strong>,</p><p>Your order status has been updated:</p><div class='status-badge'>{{ $json[0].status.charAt(0).toUpperCase() + $json[0].status.slice(1).replace('_', ' ') }}</div><p>Order: #{{ $json[0].id.substring(0, 8).toUpperCase() }}</p><a href='https://apinlero.vercel.app/track/{{ $json[0].id }}' class='btn'>Track Your Order</a></div><div class='footer'><p>Isha's Treat & Groceries | Powered by Àpínlẹ̀rọ</p></div></div></body></html>\"\n}",
        "options": {}
      },
      "id": "send-status-update",
      "name": "Send Status Update",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 380],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_RESEND_CREDENTIAL_ID",
          "name": "Resend API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"Apinlero Alerts <alerts@apinlero.co.uk>\",\n  \"to\": [\"owner@ishastreat.com\"],\n  \"subject\": \"⚠️ Low Stock Alert: {{ $json.productName }} ({{ $json.stockQuantity }} left)\",\n  \"html\": \"<!DOCTYPE html><html><head><style>body{font-family:Arial,sans-serif;background:#f9fafb;margin:0;padding:20px}.container{max-width:600px;margin:0 auto;background:white;border-radius:12px;overflow:hidden}.header{background:linear-gradient(135deg,#f59e0b,#fbbf24);color:white;padding:30px;text-align:center}.header h1{margin:0}.content{padding:30px}.stock-count{font-size:48px;font-weight:bold;color:#dc2626;text-align:center;padding:30px;background:#fef2f2;border-radius:8px;margin:20px 0}.btn{display:inline-block;background:#f59e0b;color:white;padding:14px 28px;text-decoration:none;border-radius:8px;font-weight:600}.footer{background:#1e3a5f;color:white;padding:20px;text-align:center;font-size:12px}</style></head><body><div class='container'><div class='header'><h1>⚠️ Low Stock Alert</h1></div><div class='content'><h2>{{ $json.productName }}</h2><div class='stock-count'>{{ $json.stockQuantity }} units left</div><p>Please restock this item soon.</p><a href='https://apinlero.vercel.app/dashboard' class='btn'>Manage Inventory</a></div><div class='footer'><p>Àpínlẹ̀rọ Alerts</p></div></div></body></html>\"\n}",
        "options": {}
      },
      "id": "send-stock-alert",
      "name": "Send Stock Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 500],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_RESEND_CREDENTIAL_ID",
          "name": "Resend API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"Apinlero Alerts <alerts@apinlero.co.uk>\",\n  \"to\": [\"owner@ishastreat.com\"],\n  \"subject\": \"🗓️ Expiry Alert: {{ $json.productName }} expires in {{ $json.daysUntilExpiry }} days\",\n  \"html\": \"<!DOCTYPE html><html><head><style>body{font-family:Arial,sans-serif;background:#f9fafb;margin:0;padding:20px}.container{max-width:600px;margin:0 auto;background:white;border-radius:12px;overflow:hidden}.header{background:linear-gradient(135deg,#ef4444,#f87171);color:white;padding:30px;text-align:center}.header h1{margin:0}.content{padding:30px}.expiry-badge{font-size:36px;font-weight:bold;color:#dc2626;text-align:center;padding:20px;background:#fef2f2;border-radius:8px;margin:20px 0}.btn{display:inline-block;background:#ef4444;color:white;padding:14px 28px;text-decoration:none;border-radius:8px;font-weight:600}.footer{background:#1e3a5f;color:white;padding:20px;text-align:center;font-size:12px}</style></head><body><div class='container'><div class='header'><h1>🗓️ Expiry Alert</h1></div><div class='content'><h2>{{ $json.productName }}</h2><div class='expiry-badge'>Expires: {{ $json.expiryDate }}</div><p>This product expires in {{ $json.daysUntilExpiry }} days. Consider discounting or removing from sale.</p><a href='https://apinlero.vercel.app/dashboard' class='btn'>Manage Inventory</a></div><div class='footer'><p>Àpínlẹ̀rọ Alerts</p></div></div></body></html>\"\n}",
        "options": {}
      },
      "id": "send-expiry-alert",
      "name": "Send Expiry Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 700],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_RESEND_CREDENTIAL_ID",
          "name": "Resend API Key"
        }
      }
    }
  ],
  "connections": {
    "Manual Email Webhook": {
      "main": [
        [
          {
            "node": "Fetch Order Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Stock Alert Webhook": {
      "main": [
        [
          {
            "node": "Send Stock Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Expiry Alert Webhook": {
      "main": [
        [
          {
            "node": "Send Expiry Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Order Details": {
      "main": [
        [
          {
            "node": "Email Type?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Type?": {
      "main": [
        [
          {
            "node": "Send Confirmation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Status Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["apinlero", "email", "manual"]
}
